body{ 
    background-color: #edf0f5;
    line-height: 1.34;
}

.left{
    margin: 10%;
    margin-top: 20%;
}

.right{
    border: gray 1px solid;
    border-radius: 4px;
    padding: 3%;
    margin-top: 40%;
    box-shadow: rgb(105, 103, 103) 2px 5px 5px 5px;
}

.connexion{
    width: 100%;
    background: color #1876f1;
    color: white;
}

.new{
    background-color: #42B72A;
    color: white;
    width: 50%;
}

.logo{
    height: 106px;
    margin: -28px;
}

.slogan{
    width: auto;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
}
